<h1>Login</h1>
<h2>via framagit.org GitLab account</h2>
<a href="/auth/gitlab?returnTo={returnTo}">login</a>

<script>
  export default {
    preload({ query }) {
      const { returnTo } = query
      return { returnTo }
    }
  }
</script>