<svelte:head>
	<title>Sapper project template</title>
</svelte:head>

<h1>login via GitLab demo</h1>

<p>Try opening <a href="/profile">/profile</a> without being authenticated.</p>

<style>
	h1 {
	  text-align: center;
	  margin: 0 auto;
	}

	h1 {
	  font-size: 2.8em;
	  font-weight: 700;
	  margin: 0 0 0.5em 0;
	}

	@media (min-width: 480px) {
	  h1 {
	    font-size: 4em;
	  }
	}
</style>