<h1>{$user.displayName} ({$user.username})</h1>

<img src={$user.avatarUrl} alt="avatar" />

<p>
  <a href="{$user.profileUrl}">profile</a>
</p>

<form on:submit="createProject(event)">
  <h2>create project</h2>
  <label>
    project name
    <input type="text" name="name" required="{true}" bind:value="projectName" />
  </label>
  {#if errorMessage}
    <span class="text-red">{errorMessage}</span>
  {/if}
  <p>
    <button disabled="{pending}">
      Create
      {#if pending}
        (pending)
      {/if}
    </button>
  </p>
  {#if project}
    <p>
      project created: <a href="{project.web_url}">{project.path_with_namespace}</a>
    </p>
  {/if}
</form>

<form on:submit="listProjects(event)">
  <h2>list my projects</h2>
  <p>
    <button>List</button>
  </p>
  {#if projects}
    <ul>
      {#each projects as project}
        <li>
          <a href="{project.web_url}">{project.path_with_namespace}</a>
        </li>
      {/each}
    </ul>
  {/if}
</form>

<script>
  import { goto } from "../../__sapper__/client.js"
  export default {
    preload() {
      const { user } = this.store.get()
      if (!user) {
        return this.redirect(302, "/login?returnTo=/profile")
      }
      return {
        user,
        pending: false,
        project: null,
        projects: null,
        projectName: "",
        errorMessage: null
      }
    },
    methods: {
      async createProject(event) {
        event.preventDefault()
        const { projectName } = this.get()
        this.set({ pending: true, project: null, errorMessage: null })
        const res = await fetch(
          `/gitlab_api?action=create_project&name=${encodeURIComponent(
            projectName
          )}`
        )
        const data = await res.json()
        if (res.ok) {
          const { project } = data
          this.set({ project, pending: false })
        } else {
          if (res.status === 401) {
            alert("please relogin")
            return goto("/login?returnTo=/profile")
          }
          const { error } = data
          const errorMessage = error.message.name && error.message.name[0]
          this.set({ errorMessage, pending: false })
        }
      },
      async listProjects(event) {
        event.preventDefault()
        const res = await fetch("/gitlab_api?action=list_projects")
        const data = await res.json()
        if (res.ok) {
          const { projects } = data
          this.set({ projects })
        } else {
          if (res.status === 401) {
            alert("please relogin")
            return goto("/login?returnTo=/profile")
          }
        }
      }
    }
  }
</script>

<style>
  .text-red {
    color: red;
  }
</style>